<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    
                    {{!-- Titulo insertar vehiculo --}}
                    <div class="add-head">
                        <span class="add-title card-title">INSTERTAR NUEVO VEHICULO</span>
                        <a class="abtn float-end" href="/"><i class="fa-solid fa-reply"></i></a>
                    </div>
                    
                    {{!-- form insertar vehiculo --}}
                    <form class="mt-4" id="car-form" action="/add" method="POST">

                        <div class="mb-3">
                            <input name="serie" id="serie" type="text" class="form-control" autocomplete="off" placeholder="serie">
                        </div>
                        <div class="mb-3">
                            <input name="placas" id="placas" type="text" class="form-control" autocomplete="off" placeholder="placas">
                        </div>
                        <div class="mb-3">
                            <input name="marca" id="marca" type="text" class="form-control" autocomplete="off" placeholder="marca">
                        </div>
                        <div class="mb-3">
                            <input name="modelo" id="modelo" type="text" class="form-control" autocomplete="off" placeholder="modelo">
                        </div>
                        <div class="mb-3">
                            <input name="anio" id="anio" type="text" class="form-control" autocomplete="off" placeholder="año">
                        </div>

                        {{!-- Button guardar vehiculo --}}
                        <div>
                            <button class="btn btn-success float-end"><i class="fa-solid fa-floppy-disk"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>