<div class="grid-container">
    
    <!-- HEADER -->
    <header class="header" id="header">
    </header>

    <!-- MAIN -->
    <section class="main" id="main">
        <div class="container">
            {{> cars/carTable}}
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer" id="footer">
    </footer>

</div>